
.books {
    display: flex;
    background-image: url("../../../public/empty_bookshelf.png");
    flex-wrap: wrap;
    flex-direction: row;
    background-size: 1500px;
    justify-content: space-between;
   align-items: flex-start;
   min-height: 1500px;
   zoom: 150%;
}
.cards{
    margin-left: 70px;
    margin-top: 65px;
}




.cardz{
    margin-bottom: 80px;
    margin-right: 50px;
}


img.card-img-top{
    height: 150px !important;
    width: 150px !important ;
}

.headerBookListItem{
    background-color: gray;
}


